<div>
  <app-job-details-description
    [job]="job$ | async"
    [isLoading]="isLoading$ | async"></app-job-details-description>
  <div class="submit-wrapper">
    <div class="btns-row">
      <a mat-fab extended [routerLink]="'jobs/1'">
        <mat-icon>send</mat-icon>
        Кандидатствай
      </a>
    </div>
    <div class="btns-row">
      <a [routerLink]="'jobs/1'" mat-button
        ><mat-icon>bookmarks</mat-icon>Запази</a
      >
      <a [routerLink]="'jobs/1'" mat-button
        ><mat-icon>email</mat-icon>Препрати</a
      >
    </div>
  </div>
</div>
<div>
  <app-job-details-sideinfo
    [job]="job$ | async"
    [isLoading]="isLoading$ | async"></app-job-details-sideinfo>
  <app-job-details-sidecompany
    [job]="job$ | async"
    [isLoading]="isLoading$ | async"></app-job-details-sidecompany>
</div>
