<h5 class="mat-headline-5 title">IT новини</h5>
<div>
  <div class="article">
    <h5>
      ИТ проектите в България: По какви проекти работи Atos Bulgaria Competency
      Center?
    </h5>
    <p>
      За проектите, екипите и технологиите, които използват, научете от Павлета
      Тодорова, ръководител „Бизнес развитие“ в компанията
    </p>
  </div>
  <div class="article">
    <h5>ИТ лидерите в България: Мартин Антонов, AtScale</h5>
    <p>
      „Смятам, че в следващите години условията за опитни програмисти в България
      ще стават все по-привлекателни“, казва Мартин, който ръководи екип от
      софтуерни инженери в технологичната компания
    </p>
  </div>
  <div class="article">
    <h5>Най-ценният бизнес съвет на Светослав Ангелов, ITF Group</h5>
    <p>
      Вижте философията за успех на Изпълнителния Директор на българската финтех
      компания
    </p>
  </div>
  <div class="article">
    <h5>Apply AI or Diе: Кой печели и кой губи от изкуствения интелект?</h5>
    <p>
      AI системи като ChatGPT са нож с две остриета, ако не ги озаптим, не знаем
      как ще се развият – д-р Артур Кордон, международен експерт в прилагането
      на изкуствен интелект, пред Economy.bg
    </p>
  </div>
  <div class="article">
    <h5>
      Запознайте се със стажантите на Blankfactor и научете повече за програмата
      NextGen
    </h5>
    <p>
      Кандидатстването за следващото издание стартира през август, обяви Мария
      Стоилкова - Global L&D lead
    </p>
  </div>
</div>
