@if(title) {
<h5 class="mat-headline-5 title">{{ title }}</h5>
}
<div class="logos">
  @for(company of topCompanies; track company) {
  <a class="image">
    <img [src]="'/assets/companies/' + company + '.png'" [alt]="company" />
  </a>
  } @for(company of topCompanies; track company) {
  <a class="image">
    <img [src]="'/assets/companies/' + company + '.png'" [alt]="company" />
  </a>
  } @for(company of topCompanies; track company) {
  <a class="image">
    <img [src]="'/assets/companies/' + company + '.png'" [alt]="company" />
  </a>
  } @for(company of topCompanies; track company) {
  <a class="image">
    <img [src]="'/assets/companies/' + company + '.png'" [alt]="company" />
  </a>
  } @for(company of topCompanies; track company) {
  <a class="image">
    <img [src]="'/assets/companies/' + company + '.png'" [alt]="company" />
  </a>
  }
</div>
