<mat-toolbar class="user-info">
  <app-user-card></app-user-card>
</mat-toolbar>
<mat-nav-list>
  <a
    mat-list-item
    routerLink="/"
    routerLinkActive="is-active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>Начало</div></a
  >
  <a mat-list-item routerLink="/jobs" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>search</mat-icon>
    <div matListItemTitle>Обяви</div></a
  >
  <a mat-list-item routerLink="/blog" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>article</mat-icon>
    <div matListItemTitle>IT Статии</div></a
  >
  <a mat-list-item routerLink="/trends" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>trending_up</mat-icon>
    <div matListItemTitle>IT Тенденции</div></a
  >
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/my-account" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>dashboard</mat-icon>
    <div matListItemTitle>Моят акаунт</div></a
  >
  <a mat-list-item routerLink="/my-jobs" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>bookmarks</mat-icon>
    <div matListItemTitle>Бележник</div></a
  >
  <a mat-list-item routerLink="/my-documents" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>folder_shared</mat-icon>
    <div matListItemTitle>Моите документи</div></a
  >
  <a mat-list-item routerLink="/history" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>playlist_add_check</mat-icon>
    <div matListItemTitle>Кандидатствания</div></a
  >
  <a mat-list-item routerLink="/contacts" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>call</mat-icon>
    <div matListItemTitle>Контакти</div></a
  >
  <a mat-list-item routerLink="/logout" routerLinkActive="is-active"
    ><mat-icon matListItemIcon>logout</mat-icon>
    <div matListItemTitle>Изход</div></a
  >
  <mat-divider></mat-divider>
</mat-nav-list>
<div class="language-picker">
  <button mat-flat-button>Български</button>
  <button mat-flat-button>English</button>
</div>
