<mat-card>
  <a routerLink="/jobs">
    <mat-card-header>
      <mat-card-subtitle>02.03.2024</mat-card-subtitle>
      <mat-card-title>Front-end Engineer</mat-card-title>
      <mat-card-subtitle>
        <span>София; </span>
        <span>Ниво Mid-level; </span>
        <span>Години опит от 2 до 3; </span>
        <span>Възможност за работа от вкъщи; </span>
        <span>Постоянна работа; </span>
        <span>Пълно работно време; </span>
        <span>Дистанционно интервю; </span>
        <span>Отпуск 25 дни</span>
      </mat-card-subtitle>
    </mat-card-header>
  </a>
</mat-card>
