<mat-card class="card">
  <div class="first-section">
    <mat-card-header class="header">
      <mat-card-subtitle class="sub"
        >02.03.2024
        <span class="spacer"></span>
        <mat-icon>bookmark_border</mat-icon>
      </mat-card-subtitle>
      <a [routerLink]="'/jobs/' + job.id" class="link">
        <mat-card-title>{{ job.title }}</mat-card-title>
        <mat-card-subtitle>
          <div>
            <span *ngIf="job.location">{{ job.location | translate }}; </span>
            <span *ngIf="job.level">{{ job.level | translate }}; </span>
            <span *ngIf="job.remoteOptions"
              >{{ job.remoteOptions | translate }};
            </span>
            <span *ngIf="job.employmentType"
              >{{ job.employmentType | translate }};
            </span>
            <span *ngIf="job.interviewType"
              >{{ job.interviewType | translate }}
            </span>
          </div>
          <div class="skills">
            <div *ngFor="let skill of job.techStack; trackBy: trackTeckStack">
              <div class="skill-logo">
                <img
                  [ngSrc]="'/assets/skills/' + skill +'.png'"
                  [alt]="skill"
                  width="20"
                  height="20" />
              </div>
            </div>
          </div>
        </mat-card-subtitle>
      </a>
    </mat-card-header>
  </div>
  <div class="company-wrapper">
    <mat-card-header class="header">
      <mat-card-subtitle class="sub">
        <span class="spacer"></span>
        <mat-icon>notifications</mat-icon>
      </mat-card-subtitle>
      <a routerLink="/jobs" class="link company">
        <img
          [src]="'/assets/companies/1.png'"
          class="company-logo"
          alt="Company logo" />
        <div *ngIf="job.company">
          <mat-card-subtitle
            ><span class="company-title"
              >{{ job.company.legalName }}</span
            ></mat-card-subtitle
          >
          <mat-card-subtitle>
            <span
              >{{ job.company.employeesCount }} {{ 'employees' | translate }};
            </span>
            <span>{{ 'in-bulgaria-from' | translate }} 2017</span>
          </mat-card-subtitle>
        </div>
      </a>
    </mat-card-header>
    <mat-card-actions align="end">
      <a
        mat-button
        [routerLink]="'/blog?companyId=' + job.companyId"
        class="link company"
        >{{ 'articles-cap' | translate }}</a
      >
      <a
        mat-button
        [routerLink]="['/jobs', job.id, job.companyId , 'jobs']"
        class="link company"
        >{{ 'job-offers-cap' | translate }}</a
      >
      <a
        mat-button
        [routerLink]="['/jobs/', job.id, job.companyId]"
        class="link company"
        >{{ 'about-us' | translate }}</a
      >
    </mat-card-actions>
  </div>
</mat-card>
