<mat-toolbar>
  <mat-nav-list class="list-horizontal">
    <a class="list-item" mat-list-item href="#"
      ><mat-icon matListItemIcon>search</mat-icon>
      <div matListItemTitle>Обяви</div></a
    >
    <a class="list-item" mat-list-item href="#"
      ><mat-icon matListItemIcon>search</mat-icon>
      <div matListItemTitle>IT Обучения <br />и Събития</div></a
    >
    <a class="list-item" mat-list-item href="#"
      ><mat-icon matListItemIcon>trending_up</mat-icon>
      <div matListItemTitle>IT Тенденции</div></a
    >
    <a class="list-item" mat-list-item href="#"
      ><mat-icon matListItemIcon>article</mat-icon>
      <div matListItemTitle>Анкети</div></a
    >
    <a class="list-item" mat-list-item href="#"
      ><mat-icon matListItemIcon>article</mat-icon>
      <div matListItemTitle>IT Статии</div></a
    >
  </mat-nav-list>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
