<mat-list>
  <div mat-subheader>10.01.2024</div>
  <div mat-subheader>
    <span class="title">Procure to Pay Global Process Owner, Company IT</span>
  </div>
  <mat-list-item>
    <mat-icon matListItemIcon>location_on</mat-icon>
    <div matListItemTitle>София</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>stairs</mat-icon>
    <div matListItemTitle>Ниво Management</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>psychology</mat-icon>
    <div matListItemTitle>Години опит 10+</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>chair</mat-icon>
    <div matListItemTitle>Възможност за работа от вкъщи</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>work</mat-icon>
    <div matListItemTitle>Постоянна работа</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>schedule</mat-icon>
    <div matListItemTitle>Пълно работно време</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>3p</mat-icon>
    <div matListItemTitle>Дистанционно интервю</div>
  </mat-list-item>
</mat-list>
