<img class="logo" src="assets/companies/3.png" />
<div mat-subheader>
  <span class="title">Company IT EOOD</span>
</div>
<mat-divider></mat-divider>
<div mat-subheader>
  <span
    >HR solutions, workforce solutions, permanent placement, career transition,
    talent development, business process outsourcing, consulting, Human
    Resources, managed services, Reskilling, and Upskilling</span
  >
</div>
<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>calendar_today</mat-icon>
    <div matListItemTitle>В България от 2021</div>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<div class="actions">
  <button mat-button><mat-icon>list</mat-icon>Обяви (10)</button>
  <button mat-button><mat-icon>search</mat-icon>Виж профила</button>
</div>
