@if(job && !isLoading) {
<mat-list>
  <div mat-subheader>{{job.createdAt | date:"dd.MM.yyyy"}}</div>
  <div mat-subheader>
    <span><b>{{job.title}}</b>, {{job.company.name}}</span>
  </div>
  <mat-list-item>
    <mat-icon matListItemIcon>location_on</mat-icon>
    <div matListItemTitle>{{job.location | translate}}</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>stairs</mat-icon>
    <div matListItemTitle>{{job.level | translate}}</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>psychology</mat-icon>
    <div matListItemTitle>{{job.experience | translate}}</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>chair</mat-icon>
    <div matListItemTitle>{{job.remoteOptions | translate}}</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>schedule</mat-icon>
    <div matListItemTitle>{{job.employmentType | translate}}</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>3p</mat-icon>
    <div matListItemTitle>
      {{job.interviewType | translate}} {{'interview' | translate}}
    </div>
  </mat-list-item>
</mat-list>
} @else {
<div>Loading...</div>
}
