<header>
  <mat-toolbar>
    <button mat-icon-button (click)="close()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ data.title | translate }}</span>
  </mat-toolbar>
</header>
<div class="content-wrapper">
  <div class="content">
    <mat-chip-set role="list" aria-label="select a shirt size">
      @for(option of data.options; track option.id) {
      <mat-chip-option
        [selected]="!!selectedFilters[option.key]"
        (selectionChange)="chipSelectionChange($event, option)"
      >
        {{ option.key | translate }}
      </mat-chip-option>
      }
    </mat-chip-set>
  </div>
  <a
    class="submit-btn"
    mat-fab
    extended
    routerLink="jobs"
    [queryParams]="getParams()"
    queryParamsHandling="merge"
    (click)="close()"
  >
    <mat-icon>send</mat-icon>
    Потвърди
  </a>
</div>
