@if (isAuthenticated$ | async) {
<button
  mat-mini-fab
  color="primary"
  [matMenuTriggerFor]="user"
  aria-label="Open user menu"
>
  <img
    class="avatar"
    [ngSrc]="(user$ | async)?.picture || '/assets/profile.webp'"
    width="40"
    height="40"
  />
</button>
<mat-menu #user="matMenu">
  <button mat-menu-item color="warning" (click)="signOut()">Sign Out</button>
</mat-menu>

} @else {
<button class="signin-btn" mat-flat-button color="accent" (click)="signIn()">
  Sign In
</button>
}
