<div *ngIf="company$ | async as company">
  <app-company-header [company]="company"></app-company-header>
  <div class="info-wrapper">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ company.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{company.shortDescription}}</p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'about-the-company' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content> {{ company.fullDescription }} </mat-card-content>
      </mat-card>
    </div>
    <div class="column">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'in-bulgaria' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>calendar_today</mat-icon>
              <div matListItemTitle>
                {{ 'from' | translate }} {{ company.bulgariaFrom }}
              </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>location_on</mat-icon>
              <div matListItemTitle>{{ company.bulgariaLocation }}</div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'globally' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>business</mat-icon>
              <div matListItemTitle>{{ company.worldLocation }}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>calendar_today</mat-icon>
              <div matListItemTitle>
                {{ 'from' | translate }} {{ company.worldFrom }}
              </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>people_alt</mat-icon>
              <div matListItemTitle>
                {{ company.employeesCount }} {{'employees' | translate }}
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'contacts' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ company.legalName }}</p>
          <p>{{company.address}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="isLoading$ | async">
  <ngx-skeleton-loader
    [theme]="{
    height: '300px',
  }"
    appearance="line"
    animation="pulse" />
  <div class="info-wrapper">
    <div class="column">
      <ngx-skeleton-loader
        [theme]="{
        height: '250px',
      }"
        appearance="line"
        animation="pulse" />
      <ngx-skeleton-loader
        [theme]="{
      height: '250px',
    }"
        appearance="line"
        animation="pulse" />
    </div>
    <div class="column">
      <ngx-skeleton-loader
        [theme]="{
        height: '250px',
      }"
        appearance="line"
        animation="pulse" />
      <ngx-skeleton-loader
        [theme]="{
      height: '250px',
    }"
        appearance="line"
        animation="pulse" />
    </div>
  </div>
</div>
