<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    position="end"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <a type="button" routerLink="/" class="logo">
        <img ngSrc="/assets/logo.png" width="164" height="71" priority />
      </a>
      <span class="spacer"></span>
      <a type="button" mat-flat-button class="nav-btn"
        ><mat-icon>bookmarks</mat-icon>Бележник</a
      >
      <a type="button" mat-flat-button class="nav-btn"
        ><mat-icon>message</mat-icon>Съобщения</a
      >
      <button
        class="nav-btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
