<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    position="end"
  >
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <a type="button" routerLink="/" class="logo">
        <img ngSrc="/assets/logo.png" width="164" height="71" priority />
      </a>
      <span class="spacer"></span>
      @if(isSmallScreen$ |async) {
      <a type="button" mat-icon-button class="nav-btn"
        ><mat-icon>bookmarks</mat-icon></a
      >
      <a type="button" mat-icon-button class="nav-btn"
        ><mat-icon>message</mat-icon></a
      >

      } @else {
      <a type="button" mat-button class="nav-btn" routerLink="my-jobs"
        ><mat-icon>bookmarks</mat-icon>Бележник</a
      >
      <a type="button" mat-button class="nav-btn" routerLink="history"
        ><mat-icon>message</mat-icon>Кандидатствания</a
      >
      }

      <button
        class="nav-btn"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="outlet-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
